<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>循环语句</title>      

    <style>
        #app {
            width: 1200px;
            margin: auto;
            margin-top: 52px;
            padding: 13px;
            min-height: 125px;
            border: 1px solid lightsalmon;
        }
    </style> 
</head>
<body>
    <div id="app">
        <ol>
            <li v-for="site in sites">{{site.name}}</li>
        </ol>
        <strong>模板中使用</strong>
        <ul>
            <template v-for="site in sites">
                <li>{{site.name}}</li>
                <li>-------------</li>
            </template>            
        </ul>      
        <ul>
            <li v-for="value in object">{{value}}</li>
        </ul>
        <ul>
            <li v-for="(value, key, index) in object">{{index}}. {{key}}: {{value}}</li>
        </ul>
        <ul>
            <li v-for="n in 10">{{n}}</li>
        </ul>
    </div>
    
<script src="/src/3rdLibs/Vue/vue.js"></script>   
<script>
    new Vue({
        el: '#app',
        data: {
            sites: [
                {name: '张三'},
                {name: '李四'},
                {name: '王五'}
            ],
            object: {
                name: '菜鸟教程',
                url: 'http://www.runoob.com',
                slogan: '学的不仅是技术，更是梦想!'
            }

        }
    });
</script>
</body>
</html>