<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>监听属性</title>      

    <style>
        .app-box {
            width: 1200px;
            margin: auto;
            margin-top: 52px;
            padding: 13px;
            min-height: 125px;
            border: 1px solid lightsalmon;
        }
    </style> 
</head>
<body>
    <div id="app" class="app-box">
        <p style="font-size: 25px;">计数器：{{counter}}</p>
        <button @click="counter++" style="font-size: 25px;">点我</button>
    </div>
    <div id="computed_props" class="app-box">
        千米：<input type="text" v-model="kilometers">
        米：<input type="text" v-model="meters">
    </div>
    <p id="info"></p>
    
<script src="/src/3rdLibs/Vue/vue.js"></script>  
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            counter: 1
        }               
    });

    vm.$watch('counter', function(nval, oval) {
        alert('计数器的变化：' + oval + '变为' + nval + '!');
    });

    var vm2 = new Vue({
        el: '#computed_props',
        data: {
            kilometers: 0,
            meters: 0
        },
        watch: {
            kilometers: function(val) {
                this.kilometers = val;
                this.meters = this.kilometers * 1000;
            },
            meters: function(val) {
                this.meters = val;
                this.kilometers = this.meters / 1000;
            }
        }
    });
    vm2.$watch('kilometers', function(nval, oval) {
        document.getElementById('info').innerHTML = '修改前值为：' + oval + '， 修改后值为：' + nval;
        
    });

</script>
</body>
</html>